.nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding-right: 1.25rem;

}

.li {
    text-transform: uppercase;
    padding: 20px;
}

.li > span {
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
    color: #f3f9fd;

    &:hover {
        color: #e44a07;
    }
}
