
.searchBox {
    border: 2px solid #63529a;
    border-radius: 8px;
    padding: 30px;
    margin-top: 20px;
}

.form {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto;
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}

.button {
    cursor: pointer;
    outline: 0;
    padding: 10px;
    user-select: none;
    font-size: 18px;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    color: #63529a;
    background: white;
}
