@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #f3f9fd;
    list-style-type: none;
    padding: 0;
}

.button {
    cursor: pointer;
    outline: 0;
    padding: 10px;
    user-select: none;
    font-size: 18px;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    color:  #26203c;
    background: #f3f9fd;
}
